/* .navbar-menu.is-active {
    animation: navAnim .2s ease-in-out;
}

@keyframes navAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  20% {
      display: block;
      opacity: 0.2;
      height: 26px;
     
  }
  40% {
      opacity: 0.4;
      height: 48px;
  }
  50% {
      opacity: 0.5;
      height: 60px;
  }
  70% {
      opacity: 0.7;
      height: 90px;
  }
  100% {
    opacity: 1;
    height: 110px;
  }
} */