/* html, body {
    width: 100%;
    overflow-x: hidden;
}

.hero.is-medium .hero-body {
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;
    
}

#hero {
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);  
    background: linear-gradient(to right, #363795, #005C97); 

}

#hero-text {
    
    display: flex;
   
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

#hero-text h2{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#hero-text a {
    width: 10rem;
}

#hero-button {
    margin-bottom: 2rem;
} */

#about-div {
    height: auto;
    padding: 3rem 0;

}

#about-pic  {
    text-align: center !important;
}
#about-image {
    border-radius: 50%;
    width: 15rem !important;
}

#about-text {
    padding: 2rem !important;
}

#skill-div {
    height: auto;
    background-color: rgb(245, 240, 245);
    padding: 3rem;
}
.skill-section {
    text-align: center !important;
    margin-bottom: 2rem;
}

.buttons {
    justify-content: center !important;
}

.work-div {
    height: auto;
    background-color: rgb(240, 229, 229);
    padding: 2rem;
    text-align: center;
}

.work-card {
    
    height: auto;
    margin-top: 2rem;;
}

.contact-div {
    padding: 2rem;
    height: auto;
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.contact-div .container .title {
    margin-bottom: 2rem;
}

.footer{
    height: 50px !important;
}